{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI definition",
    "version": "v0"
  },
  "servers": [
    {
      "url": "https://msa-bff-telegram-neobank.neoflex.ru",
      "description": "Generated server url"
    }
  ],
  "tags": [
    {
      "name": "neobank-controller",
      "description": ""
    },
    {
      "name": "bff-telegram-controller",
      "description": "    "
    }
  ],
  "paths": {
    "/v1/deposit/close-deposit": {
      "put": {
        "tags": [
          "neobank-controller"
        ],
        "summary": " ",
        "operationId": "closeDeposit",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
              }
            }
          },
          "$ref": "#/components/schemas/CloseDepositBffRequest",
          "required": true
        },
        "responses": {
          "403": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloseDepositBffResponse"
                }
              }
            }
          },
          "500": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/v1/credit/repayment": {
      "put": {
        "tags": [
          "neobank-controller"
        ],
        "summary": "   ",
        "operationId": "repaymentCredit",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RepaymentLoanRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RepaymentLoanResponse"
                }
              }
            }
          },
          "401": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/v1/accounts/close-account": {
      "put": {
        "tags": [
          "neobank-controller"
        ],
        "summary": " ",
        "operationId": "closeAccount",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CloseAccountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CloseAccountResponse"
                }
              }
            }
          },
          "401": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/v1/transfers": {
      "post": {
        "tags": [
          "neobank-controller"
        ],
        "summary": "   ",
        "operationId": "transfer",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferBffRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferFundsBffResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/v1/transfers/history": {
      "post": {
        "tags": [
          "neobank-controller"
        ],
        "summary": "     ",
        "operationId": "getTransferHistory",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TransferHistoryBffRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferInfoPageResponse"
                }
              }
            }
          },
          "400": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/v1/deposit": {
      "post": {
        "tags": [
          "neobank-controller"
        ],
        "summary": " ",
        "operationId": "createDeposit",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDepositBffRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDepositBffResponse"
                }
              }
            }
          },
          "401": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/v1/credit": {
      "post": {
        "tags": [
          "neobank-controller"
        ],
        "summary": " ",
        "operationId": "createCredit",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCreditRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCreditResponse"
                }
              }
            }
          },
          "401": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/v1/accounts/account": {
      "post": {
        "tags": [
          "neobank-controller"
        ],
        "summary": " ",
        "operationId": "createAccount",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "403": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAccountResponse"
                }
              }
            }
          },
          "401": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/v1/token": {
      "get": {
        "tags": [
          "bff-telegram-controller"
        ],
        "summary": "  ",
        "operationId": "getAccessToken",
        "parameters": [
          {
            "name": "chat_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "chat_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bot_username",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "first_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bot_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "hash",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "auth_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "403": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccessTokenResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/v1/products": {
      "get": {
        "tags": [
          "neobank-controller"
        ],
        "summary": "    ",
        "operationId": "getProducts",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "productType",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "403": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetListProductsResponse"
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/v1/deposits": {
      "get": {
        "tags": [
          "neobank-controller"
        ],
        "summary": "  ",
        "operationId": "getDeposits",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GetDepositsBffRequest"
            }
          }
        ],
        "responses": {
          "403": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDepositsBffResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/v1/currencies": {
      "get": {
        "tags": [
          "neobank-controller"
        ],
        "summary": "  ",
        "operationId": "getCurrencies",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "403": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetListCurrenciesResponse"
                  }
                }
              }
            }
          },
          "500": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/v1/credits": {
      "get": {
        "tags": [
          "neobank-controller"
        ],
        "summary": "  ",
        "operationId": "getCredits",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "request",
            "in": "query",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/GetCreditsBffRequest"
            }
          }
        ],
        "responses": {
          "403": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCreditsBffResponse"
                }
              }
            }
          },
          "401": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/v1/credit/{creditId}/paymentPlan": {
      "get": {
        "tags": [
          "neobank-controller"
        ],
        "summary": "  ",
        "operationId": "getPaymentSchedule",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "creditId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "403": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetListPaymentResponse"
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/v1/callback": {
      "get": {
        "tags": [
          "bff-telegram-controller"
        ],
        "summary": "   -    KeyCloack",
        "operationId": "callbackRequest",
        "parameters": [
          {
            "name": "iss",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "session_state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "403": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
              }
            }
          },
          "401": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/v1/auth": {
      "get": {
        "tags": [
          "bff-telegram-controller"
        ],
        "summary": " ",
        "operationId": "authorizeClient",
        "parameters": [
          {
            "name": "chat_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "chat_type",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bot_username",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "user_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "first_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "last_name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "username",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bot_id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "hash",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "auth_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "403": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
              }
            }
          },
          "401": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    },
    "/v1/accounts": {
      "get": {
        "tags": [
          "neobank-controller"
        ],
        "summary": "  ",
        "operationId": "getAccounts",
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountType",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "403": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "401": {
            "description": " ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "404 Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "400": {
            "description": "  ",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetListAccountResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "Authorization": []
          }
        ]
      }
    }
  },
  "components": {
    "schemas": {
      "CloseDepositBffRequest": {
        "required": [
          "depositId"
        ],
        "type": "object",
        "properties": {
          "depositId": {
            "type": "string"
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "errorTitle": {
            "type": "string"
          },
          "errorDetail": {
            "type": "string"
          },
          "errorDetails": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "CloseDepositBffResponse": {
        "type": "object",
        "properties": {
          "accountStatus": {
            "type": "string"
          },
          "accountNumber": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "depositStatus": {
            "type": "string"
          },
          "depositNumber": {
            "type": "string"
          },
          "startAmount": {
            "type": "number"
          },
          "startDepositDate": {
            "type": "string",
            "format": "date"
          },
          "endDepositDate": {
            "type": "string",
            "format": "date"
          },
          "planEndDate": {
            "type": "string",
            "format": "date"
          },
          "depositName": {
            "type": "string"
          },
          "depositRate": {
            "type": "number"
          },
          "period": {
            "type": "integer",
            "format": "int32"
          },
          "depositProductId": {
            "type": "string",
            "format": "uuid"
          },
          "currencyNumber": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "RepaymentLoanRequest": {
        "required": [
          "actionAmount",
          "creditId",
          "currencyNumber"
        ],
        "type": "object",
        "properties": {
          "creditId": {
            "type": "string",
            "format": "uuid"
          },
          "actionAmount": {
            "type": "number"
          },
          "currencyNumber": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "RepaymentLoanResponse": {
        "type": "object",
        "properties": {
          "creditNumber": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "period": {
            "type": "number"
          },
          "creditName": {
            "type": "string"
          },
          "startCreditDate": {
            "type": "string",
            "format": "date"
          },
          "endCreditDate": {
            "type": "string",
            "format": "date"
          },
          "rate": {
            "type": "number"
          },
          "actionAmount": {
            "type": "number"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "CloseAccountRequest": {
        "required": [
          "accountId",
          "currencyNumber"
        ],
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "currencyNumber": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "CloseAccountResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "accountStatus": {
            "type": "string"
          },
          "endDate": {
            "type": "string",
            "format": "date"
          },
          "currencyNumber": {
            "type": "integer",
            "format": "int32"
          },
          "amount": {
            "type": "number"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "TransferBffRequest": {
        "required": [
          "amount",
          "fromAccountId",
          "toAccountId"
        ],
        "type": "object",
        "properties": {
          "fromAccountId": {
            "type": "string"
          },
          "toAccountId": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "message": {
            "maxLength": 140,
            "minLength": 0,
            "type": "string"
          }
        }
      },
      "TransferFundsBffResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "declineReason": {
            "type": "string"
          }
        }
      },
      "TransferHistoryBffRequest": {
        "required": [
          "accountId",
          "fromDate",
          "toDate"
        ],
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "operation": {
            "type": "string",
            "enum": [
              "INCOMING",
              "OUTGOING"
            ]
          },
          "fromDate": {
            "type": "string",
            "format": "date"
          },
          "toDate": {
            "type": "string",
            "format": "date"
          }
        }
      },
      "RecipientResponse": {
        "type": "object",
        "properties": {
          "accountNumber": {
            "type": "string"
          },
          "currencyNumber": {
            "type": "integer",
            "format": "int32"
          },
          "amount": {
            "type": "number"
          }
        }
      },
      "SenderResponse": {
        "type": "object",
        "properties": {
          "accountNumber": {
            "type": "string"
          },
          "currencyNumber": {
            "type": "integer",
            "format": "int32"
          },
          "amount": {
            "type": "number"
          }
        }
      },
      "TransferInfoPageResponse": {
        "type": "object",
        "properties": {
          "pageCount": {
            "type": "integer",
            "format": "int32"
          },
          "currentPage": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          },
          "transfers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/TransferInfoResponse"
            }
          }
        }
      },
      "TransferInfoResponse": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "fromTransfer": {
            "$ref": "#/components/schemas/SenderResponse"
          },
          "toTransfer": {
            "$ref": "#/components/schemas/RecipientResponse"
          },
          "message": {
            "type": "string"
          },
          "datetime": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string"
          },
          "declineReason": {
            "type": "string"
          }
        }
      },
      "CreateDepositBffRequest": {
        "required": [
          "autoProlongation",
          "currencyNumber",
          "depositRate",
          "period",
          "startAmount"
        ],
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "startAmount": {
            "type": "number"
          },
          "depositRate": {
            "minimum": 0.1,
            "exclusiveMinimum": false,
            "type": "number"
          },
          "depositProductId": {
            "type": "string"
          },
          "currencyNumber": {
            "type": "integer",
            "format": "int32"
          },
          "period": {
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "autoProlongation": {
            "type": "boolean"
          }
        }
      },
      "CreateDepositBffResponse": {
        "required": [
          "currencyNumber",
          "depositRate",
          "period",
          "startAmount"
        ],
        "type": "object",
        "properties": {
          "depositNumber": {
            "maxLength": 26,
            "minLength": 20,
            "type": "string"
          },
          "startAmount": {
            "type": "number"
          },
          "period": {
            "minimum": 1,
            "type": "integer",
            "format": "int32"
          },
          "status": {
            "type": "string",
            "enum": [
              "ACTIVE",
              "CLOSED",
              "LOCKED"
            ]
          },
          "depositProductId": {
            "type": "string"
          },
          "depositRate": {
            "minimum": 0.1,
            "exclusiveMinimum": false,
            "type": "number"
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "currencyNumber": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "CreateCreditRequest": {
        "required": [
          "accountId",
          "amount",
          "creditProductId",
          "currencyNumber",
          "period",
          "rate"
        ],
        "type": "object",
        "properties": {
          "amount": {
            "type": "number"
          },
          "rate": {
            "type": "number"
          },
          "period": {
            "type": "number"
          },
          "currencyNumber": {
            "type": "integer",
            "format": "int32"
          },
          "creditProductId": {
            "type": "integer",
            "format": "int32"
          },
          "accountId": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "CreateCreditResponse": {
        "type": "object",
        "properties": {
          "creditNumber": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "period": {
            "type": "number"
          },
          "status": {
            "type": "string"
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "creditProductId": {
            "type": "integer",
            "format": "int32"
          },
          "rate": {
            "type": "number"
          },
          "currencyNumber": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      },
      "CreateAccountRequest": {
        "required": [
          "currencyNumber"
        ],
        "type": "object",
        "properties": {
          "amount": {
            "type": "number"
          },
          "currencyNumber": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "CreateAccountResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "writeOnly": true
          },
          "accountId": {
            "type": "string"
          },
          "accountNumber": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "currencyNumber": {
            "type": "integer",
            "format": "int32"
          },
          "accountType": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "accountStatus": {
            "type": "string"
          },
          "amountFee": {
            "type": "number"
          }
        }
      },
      "GetAccessTokenResponse": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string"
          }
        }
      },
      "CreditProductResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "format": "int32"
          },
          "name": {
            "type": "string"
          },
          "branchId": {
            "type": "integer",
            "format": "int32"
          },
          "status": {
            "type": "string"
          },
          "currencyNumber": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "GetAccountProductResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "branchId": {
            "type": "integer",
            "format": "int32"
          },
          "currencyNumber": {
            "type": "integer",
            "format": "int32"
          },
          "amountMin": {
            "type": "number"
          }
        }
      },
      "GetDepositProductResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "depositProductStatus": {
            "type": "string"
          },
          "branchId": {
            "type": "integer",
            "format": "int32"
          },
          "currencyNumber": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "GetListProductsResponse": {
        "type": "object",
        "properties": {
          "products": {
            "$ref": "#/components/schemas/ProductsResponse"
          }
        }
      },
      "ProductsResponse": {
        "type": "object",
        "properties": {
          "accountProducts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetAccountProductResponse"
            }
          },
          "depositProducts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetDepositProductResponse"
            }
          },
          "creditProducts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CreditProductResponse"
            }
          }
        }
      },
      "GetDepositsBffRequest": {
        "required": [
          "depositStatus"
        ],
        "type": "object",
        "properties": {
          "depositStatus": {
            "type": "string"
          }
        }
      },
      "GetDepositsBffResponse": {
        "type": "object",
        "properties": {
          "totalSizeActive": {
            "type": "integer",
            "format": "int32"
          },
          "totalSizeClosed": {
            "type": "integer",
            "format": "int32"
          },
          "deposit": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetListDepositResponse"
            }
          }
        }
      },
      "GetListDepositResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "depositNumber": {
            "type": "string"
          },
          "startAmount": {
            "type": "number"
          },
          "startDepositDate": {
            "type": "string",
            "format": "date"
          },
          "endDepositDate": {
            "type": "string",
            "format": "date"
          },
          "planEndDate": {
            "type": "string",
            "format": "date"
          },
          "depositName": {
            "type": "string"
          },
          "depositRate": {
            "type": "number"
          },
          "period": {
            "type": "integer",
            "format": "int32"
          },
          "prolongation": {
            "type": "boolean"
          },
          "depositStatus": {
            "type": "string"
          },
          "currencyNumber": {
            "type": "integer",
            "format": "int32"
          },
          "openBranchId": {
            "type": "integer",
            "format": "int32"
          },
          "closeBranchId": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "GetListCurrenciesResponse": {
        "type": "object",
        "properties": {
          "currencyNumber": {
            "type": "string"
          },
          "currencyName": {
            "type": "string"
          },
          "currencyCode": {
            "type": "string"
          }
        }
      },
      "GetCreditsBffRequest": {
        "required": [
          "creditStatus"
        ],
        "type": "object",
        "properties": {
          "creditStatus": {
            "type": "string"
          }
        }
      },
      "GetCreditsBffResponse": {
        "type": "object",
        "properties": {
          "totalSizeActive": {
            "type": "integer",
            "format": "int32"
          },
          "totalSizeClosed": {
            "type": "integer",
            "format": "int32"
          },
          "pageCount": {
            "type": "integer",
            "format": "int32"
          },
          "credit": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetListCreditResponse"
            }
          }
        }
      },
      "GetListCreditResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "creditNumber": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "monthPayment": {
            "type": "number"
          },
          "creditName": {
            "type": "string"
          },
          "rate": {
            "type": "number"
          },
          "period": {
            "type": "integer",
            "format": "int32"
          },
          "creditStatus": {
            "type": "string"
          },
          "currencyNumber": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "GetListPaymentResponse": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "format": "uuid"
          },
          "accountId": {
            "type": "string",
            "format": "uuid"
          },
          "creditNumber": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "startCreditDate": {
            "type": "string",
            "format": "date"
          },
          "endCreditDate": {
            "type": "string",
            "format": "date"
          },
          "rate": {
            "type": "number"
          },
          "period": {
            "type": "integer",
            "format": "int32"
          },
          "creditName": {
            "type": "string"
          },
          "monthPayment": {
            "type": "number"
          },
          "totalAmount": {
            "type": "number"
          },
          "paidInCurrentMonth": {
            "type": "boolean"
          },
          "currencyNumber": {
            "type": "integer",
            "format": "int32"
          },
          "paymentPlan": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GetPaymentScheduleResponse"
            }
          }
        }
      },
      "GetPaymentScheduleResponse": {
        "type": "object",
        "properties": {
          "paymentDate": {
            "type": "string",
            "format": "date"
          },
          "monthPayment": {
            "type": "number"
          },
          "repaymentDept": {
            "type": "number"
          },
          "paymentPercent": {
            "type": "number"
          },
          "balanceAmount": {
            "type": "number"
          },
          "paymentNumber": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "GetListAccountResponse": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "accountNumber": {
            "type": "string"
          },
          "clientId": {
            "type": "string",
            "format": "uuid"
          },
          "amount": {
            "type": "number"
          },
          "availableAmount": {
            "type": "number"
          },
          "startDate": {
            "type": "string",
            "format": "date"
          },
          "accountType": {
            "type": "string"
          },
          "accountStatus": {
            "type": "string"
          },
          "currencyNumber": {
            "type": "integer",
            "format": "int32"
          },
          "openBranchId": {
            "type": "integer",
            "format": "int32"
          },
          "book": {
            "type": "integer",
            "format": "int32"
          }
        }
      }
    }
  }
}