.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 20px 20px;
}

.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #A4A7AC;
    font-size: 14px;
}

.link.active {
    color: var(--accent-purple);

    & svg path {
        fill: var(--accent-purple)
    }
}